/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:100vh;
}
.hero img{
	width:70%;
	height:100vh;
	object-fit:cover;
}
.hero div{
	width:30%;
	text-align:center;
	padding:20px;
}
button{
	padding:10px 20px;
	background-color:red;
	color:white;
	border-radius:5px;
	border:none;
}